body {
  font-size: 16px;
  color: #fff;
  background-color: skyblue;
  font-family: sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #0080ff;
  border-radius: 0;
  border: 0;
}


.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 { 
  font-family: serif;
  color: #111e6c;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
  color: #fff;
}
#nav-list a {
  color: #1d2951;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */

/* HOME PAGE */
#Menu {
  color: #000;
  font-weight: bold;
}

.container .jumbotron {
  box-shadow: 0 0 50px #3F0C1F;
  border: 2px solid #3F0C1F;
  background-color: deepskyblue;
  overflow: hidden;
}

.jumbotron h2 {
  color: #111e6c;
}

.jumbotron p {
  color: #4c516d;
}

/********** Large devices only **********/
@media (min-width: 1200px) {
  .container .jumbotron {
    height: 1500px;
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  .container .jumbotron {
    height: 1500px;
  }
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .container .jumbotron {
    height: 2000px;
  }
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  
  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }

  /* End Header */

  .container .jumbotron {
    height: 2500px;
  }
}
  